<header class="header">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">Today I Learned</a>
      <button class="navbar-burger" data-target="topbar-nav" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/index.html">Home</a>
        <a class="navbar-item" href="/about.html">About</a>
        <a class="navbar-item" href="/tools.html">Tools</a>
      </div>
    </div>
  </nav>
</header>
