doctype html
head
    style.
        h1 { color: Red; }
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script.
        $(document).ready(function() {
            $('h1').html('test');
        });
body
    h1
