doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 #{title}
        p Node.js Programming for Modern Web development
        hr
